<br /><br />
<div id="view-content">
	<p>View script for controller <b>Index</b> and script/action name <b>index</b></p>
</div>

<?php 


$session = new Zend_Session_Namespace('login');
// Testando o zend session
echo 'Parametro do Zend Session: ' . $session->contador;
