<?php // Verificando se o guestbook foi passado

$param_url = array('controller' => 'index', /*'module' =>'index',*/ 'action' => 'addsignature');

$url_add_signature = $this->url($param_url);

$param_url['action'] = 'listsignatures';

$url_list_signatures = $this->url($param_url);

?>


<div id="list_signatures">
</div>    

<input type="button" value="Visitar" onclick="visitar()" />


<script type="text/javascript">
    
    var current_page = 1;
    
    jQuery(document).ready(
      function(){
         navegar(1);
      }  
    );
    
    function visitar(){        
        var url = '<?php echo $url_add_signature;?>';
        
        $.post(
        url, 
        {user_id:1, guestbook_id:1,mensagem:'Olá para todo mundo. '}, 
        function(data){
            if(data == null){
               alert('Erro '); 
            }else{
              navegar(current_page);
            }
        });
    }
    
    /*Função a ser chamada para navegar entre os conteudos (paginação)*/
    function navegar(page){
        var url = '<?php echo $url_list_signatures;?>';
        
        current_page = page;
        
        $.post(
        url, 
        {guest_book_id:1, pag:page},
        function(data){
            if(data == null){
                alert('Erro ao listar os elementos. ');
            }else{                
                $('#list_signatures').html(data);
            }
        });
    }
    
    
</script>

